In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
from scipy.stats import mode
import scipy as sc
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)
import tensorflow as tf
from sklearn import metrics
from sklearn.cluster import KMeans
from sklearn.datasets import load_digits
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [2]:
pd.__version__

'0.25.1'

In [16]:
#To force pyhton to show all output instead of the last output only
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
#Read the csv file
cust_df = pd.read_csv('<...>'')

In [17]:
#Head or printout of the first 5 records
cust_df.head(5)
cust_df.tail(5)

,Region,TownSize,Gender,Age,EducationYears,JobCategory,UnionMember,EmploymentLength,Retired,HHIncome,...,CallWait,CallForward,ThreeWayCalling,EBilling,TVWatchingHours,OwnsPC,OwnsMobileDevice,OwnsGameSystem,OwnsFax,NewsSubscriber
CustomerID,,,,,,,,,,,,,,,,,,,,,
3964-QJWTRG-NPN,1,2,Female,20,15,Professional,Yes,0,No,"$31,000.00",...,Yes,Yes,Yes,No,13,No,Yes,Yes,No,No
0648-AIPJSP-UVM,5,5,Male,22,17,Sales,No,0,No,"$15,000.00",...,No,Yes,No,Yes,18,Yes,Yes,Yes,Yes,Yes
5195-TLUDJE-HVO,3,4,Female,67,14,Sales,No,16,No,"$35,000.00",...,No,No,No,No,21,No,No,No,No,Yes
4459-VLPQUH-3OL,4,3,Male,23,16,Sales,No,0,No,"$20,000.00",...,No,No,No,Yes,26,Yes,Yes,Yes,No,Yes
8158-SMTQFB-CNO,2,2,Male,26,16,Sales,No,1,No,"$23,000.00",...,Yes,Yes,Yes,No,27,Yes,No,Yes,No,No

,Region,TownSize,Gender,Age,EducationYears,JobCategory,UnionMember,EmploymentLength,Retired,HHIncome,...,CallWait,CallForward,ThreeWayCalling,EBilling,TVWatchingHours,OwnsPC,OwnsMobileDevice,OwnsGameSystem,OwnsFax,NewsSubscriber
CustomerID,,,,,,,,,,,,,,,,,,,,,
3675-GZFGOT-QJN,2,2,Male,68,10,Professional,No,24,No,"$196,000.00",...,No,No,No,No,19,No,No,No,No,Yes
4699-LEPCCE-3UD,3,3,Male,51,14,Professional,No,6,No,"$83,000.00",...,Yes,Yes,Yes,No,14,No,No,No,No,No
8485-LLUICH-CVV,4,5,Male,75,17,Professional,No,24,No,"$108,000.00",...,Yes,Yes,Yes,No,16,No,No,No,No,Yes
9325-URAAUT-7FA,1,1,Male,47,19,Sales,No,3,No,"$189,000.00",...,No,No,No,Yes,24,Yes,Yes,Yes,No,Yes
8027-EXDZBF-OGR,3,5,Female,41,10,Crafts,No,20,No,"$77,000.00",...,No,No,No,No,19,No,No,No,No,No

In [ ]:
#Tail or printout of the last 5 records
cust_df.tail(5)

In [ ]:
#Checking customer data types
cust_df.dtypes

In [8]:
#Dimensions of the data and investigate if there are any duplicate rows
cust_df.shape
print(f'There are {cust_df.shape[0]} rows and {cust_df.shape[1]} columns in the customer dataframe')

There are 5000 rows and 58 columns in the customer dataframe

In [15]:
#Rows containing duplicate data
duplicate_rows_cust_df = cust_df[cust_df.duplicated()]
print('number of duplicate rows:', duplicate_rows_cust_df.shape)
print(f'There are {len(duplicate_rows_cust_df)} number of duplicate rows')
duplicate_rows_cust_df.shape

number of duplicate rows: (0, 58)
There are 0 number of duplicate rows

(0, 58)

In [ ]:
# Used to count the number of rows before any data manipulation
cust_df.count()

In [ ]:
# Dropping the duplicates - not relevant here
cust_df = cust_df.drop_duplicates()

In [ ]:
# Finding the null values for each column
print(cust_df.isnull().sum())

In [ ]:
def num_missing(x):
  return sum(x.isnull())
#Applying per column:
print(cust_df.apply(num_missing, axis=0))

In [ ]:
# Dropping the missing values. Not relevant here
# cust_df = cust_df.dropna() 
# cust_df.count()

In [ ]:
sns.boxplot(x = cust_df['Age'])

In [ ]:
#Calculate summary statistics
summary = cust_df.describe()
summary = summary.transpose()
summary.head()

In [ ]:
#Another way to get meta data for each variable in your dataset
cust_df.info()

In [ ]:
#Calculate summary statistics
summary = cust_df.describe(include=['object'])
summary = summary.transpose()
summary.head()
print(cust_df.describe(include='all'))

In [ ]:
#conda install -c conda-forge pandas-profiling -- use this code snippet on your command line to install pandas-profiling 
#pandas_profiling provides a comprehensive report on the variables and various statistics around it.
#It can be fairly overwhelming but is very useful
#Do not use with large datasets
pandas_profiling.ProfileReport(cust_df)

In [ ]:
#How many missing values does Gender have?
cust_df['Gender'].isnull().sum()

In [ ]:
#Another approach to answer the question of "How many missing values does Gender have?"
cust_df.Gender.isnull().sum()

In [ ]:
#What is the datatype object for Gender. It is defined as a object or a string
cust_df['Gender'].dtype

In [ ]:
#Frequency distribution of Gender before imputation of missing values
counts_HHSize = cust_df['HouseholdSize'].value_counts()
print ("\Before imputation for missing values:")
print (counts_HHSize)

In [ ]:
cust_df['HouseholdSize'].isnull().sum()

In [ ]:
mode(cust_df['HouseholdSize'])

In [ ]:
#Replace missing character values with the mode of the distribution 
#cust_df['HouseholdSize'].fillna(mode(cust_df['HouseholdSize']).mode[0], inplace=True)
cust_df['HouseholdSize'].fillna(mode(cust_df['HouseholdSize']).mode[0], inplace=True)                                                
cust_df['HouseholdSize'].isnull().sum()

In [ ]:
#Frequency distribution of Gender
counts_HouseholdSize = cust_df['HouseholdSize'].value_counts()
print ("\After imputation for missing values:")
print (counts_HHSize)
print (cust_df['HouseholdSize'].isnull().sum())

In [ ]:
cust_df.shape

In [ ]:
cust_df.head(5)

In [ ]:
def coding(col, codeDict):
  colCoded = pd.Series(col, copy=True)
  for key, value in codeDict.items():
    colCoded.replace(key, value, inplace=True)
  return colCoded

In [ ]:
cust_df['HHIncome'].apply(type)

In [ ]:
cust_df['HHIncome'].apply(type).value_counts()

In [ ]:
#Custom create function to clean variables with currency symbols
def clean_currency(x):
    """ If the value is a string, then remove currency symbol and delimiters
    otherwise, the value is numeric and can be converted
    """
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
    return(x)

In [ ]:
cust_df['HHIncome'] = cust_df['HHIncome'].apply(clean_currency).astype('float')

In [ ]:
cust_df.head()

In [ ]:
sc.mean(cust_df['HHIncome'])

In [ ]:
cust_df['HHIncome'].dtype

In [ ]:
#Using lambda functions
#cust_df['Sales'] = cust_df['Sales'].apply(lambda x: x.replace('$', '').replace(',', '')
#                                if isinstance(x, str) else x).astype(float)

In [ ]:
print ('\nAfter Coding:')
print (pd.value_counts(cust_df["LoanDefault"]))

In [ ]:
#Recoding Gender as a numeric variable 
cust_df["Gender_num"] = coding(cust_df["Gender"], {'Female':2,'Male':1})
print ('\nAfter Coding:')
print (pd.value_counts(cust_df["Gender_num"]))

In [ ]:
#Recoding LoanDefault_num as a numeric variable 
cust_df["LoanDefault_num"] = coding(cust_df["LoanDefault"], {'No':2,'Yes':1})
print ('\nAfter Coding:')
print (pd.value_counts(cust_df["LoanDefault_num"]))

In [ ]:
#Frequency distribution of JobCategory before imputation of missing values
counts_JobCategory = cust_df['JobCategory'].value_counts()
print ("\Before imputation for missing values:")
print (counts_JobCategory)

In [ ]:
cust_df['JobCategory'].mode

In [ ]:
#Replace missing character values with the mode of the distribution 
cust_df['JobCategory'].fillna(mode(cust_df['JobCategory']).mode[0], inplace=True)

In [ ]:
#Frequency distribution of LoanDefault after imputation of missing values
counts_JobCategory = cust_df['JobCategory'].value_counts()
print ("\After imputation for missing values:")
print (counts_JobCategory)

In [ ]:
cust_df.describe(include = [np.number])

In [ ]:
cust_df.describe(include = [np.object])

In [ ]:
cust_df.DebtToIncomeRatio.describe()

In [ ]:
print (pd.value_counts(cust_df['OwnsMobileDevice']))

In [ ]:
cust_df['OwnsMobileDevice'].value_counts()

In [ ]:
#Binning continuous variables
def binning(col, cut_points, labels=None):
  #Define min and max values:
  minval = col.min()
  maxval = col.max()

  #create list by adding min and max to cut_points
  break_points = [minval] + cut_points + [maxval]
  print(break_points)  
  #if no labels provided, use default labels 0 ... (n-1)
  if not labels:
    labels = range(1,len(cut_points)+2)
  print(labels)
  #Binning using cut function of pandas
  colBin = pd.cut(col,bins=break_points,labels=labels,include_lowest=True)
  return colBin

In [ ]:
#Binning DebtToIncomeRatio:
cut_points = [5,10,15]
#labels = ["low","medium","high","very high"]
#cust_df["DebtToIncomeRatio_Recoded"] = binning(cust_df["DebtToIncomeRatio"], cut_points,labels)
#To get labels that start from 0 modify above range function; To use labels add labels in binning function below
cust_df["DebtToIncomeRatio_Recoded"] = binning(cust_df["DebtToIncomeRatio"], cut_points)
print (pd.value_counts(cust_df["DebtToIncomeRatio_Recoded"], sort=False))

In [ ]:
cust_df.Age.describe()

In [ ]:
#Binning Age:
cut_points = [31,47,62]
labels = ["18-31",">31-47",">47-62",">62"]
cust_df["Age_Recoded"] = binning(cust_df["Age"], cut_points,labels)
print (pd.value_counts(cust_df["Age_Recoded"], sort=False))

In [ ]:
cust_df.PhoneCoTenure.describe()

In [ ]:
#Binning PhoneCoTenure:
cut_points = [18,38,59]
labels = ["0-18",">18-38",">38-59",">59"]
cust_df["PhoneCoTenure_Coded"] = binning(cust_df['PhoneCoTenure'], cut_points,labels)
print (pd.value_counts(cust_df['PhoneCoTenure_Coded'], sort=False))

In [ ]:
cust_df['JobCategory'].value_counts()

In [ ]:
#Creating pivot tables; Higher levels of DebtToIncomeRatio for Yes to LoanDefault
LoanDefault_Grps = cust_df.pivot_table(values=["DebtToIncomeRatio"], index=['Gender','LoanDefault','Age_Recoded'], aggfunc=np.mean)
print (LoanDefault_Grps)

In [ ]:
#Coding a nominal variable into a numeric variable
#Define a generic function using Pandas replace function
def coding(col, codeDict):
  colCoded = pd.Series(col, copy=True)
  for key, value in codeDict.items():
    colCoded.replace(key, value, inplace=True)
  return colCoded

In [ ]:
#Coding LoanStatus as Y=1, N=0:
print ('Before Coding:')
print (pd.value_counts(cust_df['OwnsMobileDevice']))
cust_df['OwnsMobileDevice_Coded'] = coding(cust_df['OwnsMobileDevice'], {'No':1,'Yes':2})
print ('\nAfter Coding:')
print (pd.value_counts(cust_df['OwnsMobileDevice_Coded']))

In [ ]:
cust_df_colnames = cust_df.columns.values.tolist()
cust_df_colnames

In [ ]:
print (pd.value_counts(cust_df['HomeOwner']))

In [ ]:
cust_df['HomeOwner2'] = cust_df['HomeOwner'] + 1

In [ ]:
print (pd.value_counts(cust_df['HomeOwner2']))

In [ ]:
print (pd.value_counts(cust_df['VoiceLastMonth']))

In [ ]:
print (pd.value_counts(cust_df['PhoneCoTenure']))

In [ ]:
cust_df['VoiceLastMonth_Coded'] = cust_df['VoiceLastMonth'].apply(clean_currency).astype('float')

In [ ]:
sc.mean(cust_df['VoiceLastMonth_Coded'])

In [ ]:
#Selecting the columns or variables that you want to use for clustering
cust_df_kmeans = cust_df[['X1','X2', 'X3']]

In [ ]:
cust_df_kmeans.head(5)

In [ ]:
cust_df_kmeans.shape

In [ ]:
cust_df_kmeans.info()

In [ ]:
#test = ufo.loc[~ufo.index.isin(train.index), :]

In [ ]:
# standardizing the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
cust_kmeans_scaled = scaler.fit_transform(cust_df_kmeans)
#Assign the scaled data to a DataFrame using the index keyword arguments
cust_kmeans_scaled_df = pd.DataFrame(cust_kmeans_scaled, index = cust_df_kmeans.index)
cust_kmeans_scaled_df.head()

In [ ]:
# statistics of scaled data
pd.DataFrame(cust_kmeans_scaled_df).describe()

In [ ]:
# Plot inertia for multiple cluster solutions against the number of clusters
# fitting multiple k-means algorithms and storing the values in an empty list
SSE = []
for cluster in range(2,10):
    kmeans = KMeans(n_jobs = -1, n_clusters = cluster, init='k-means++')
    kmeans.fit(cust_kmeans_scaled_df)
    SSE.append(kmeans.inertia_)

# converting the results into a dataframe and plotting them
cust_df_frame = pd.DataFrame({'Cluster':range(2,10), 'SSE':SSE})
plt.figure(figsize=(12,6))
plt.plot(cust_df_frame['Cluster'], cust_df_frame['SSE'], marker='o')
plt.xlabel('Number of clusters')
plt.ylabel('Inertia')

In [ ]:
# Defining the kmeans function with initialization as k-means++; # You want to cluster into 5 segments
kmeans_5 = KMeans(n_clusters = 5, init='k-means++')

# fitting the k means algorithm on scaled data
kmeans_5.fit(cust_kmeans_scaled_df)

In [ ]:
# Inertia calculates the sum of all the points within a cluster from the centroid of that cluster.
# Determine inertia on the fitted data
kmeans_5.inertia_

In [ ]:
pred_clus5 = kmeans_5.predict(cust_kmeans_scaled_df)

In [ ]:
cust_df_frame_2 = pd.DataFrame(cust_kmeans_scaled_df)
cust_df_frame_2['cluster'] = pred_clus5
cust_df_frame_2['cluster'].value_counts()

In [ ]:
# Using head shows the data structure of the resulting data frame
# There are 10 variables used for clustering and their scaled values are shown
# The last column is the cluster solution and shows the cluster to which obsevation belongs
# There are five segments starting from 0 to 4
cust_df_frame_2.head(5)

In [ ]:
# Get the cluster centroids
print(kmeans_5.cluster_centers_)

In [ ]:
# Create a new data column cluster5_2 to incorporate a cluster indicator variable running from 1 to 5
cust_df_frame_2['cluster5_2'] = cust_df_frame_2['cluster'] + 1
cust_df_frame_2.head(5)

In [ ]:
# Get the cluster labels
print(kmeans_5.labels_)

In [ ]:
cust_df_frame_2['cluster5_2'].value_counts()

In [ ]:
# Plotting the cluster centers and the data points on a 2D plane; Need to think through this
plt.scatter(cust_df_kmeans_scaled[:, 0], cust_df_kmeans_scaled[:, -1])

In [ ]:
plt.scatter(kmeans_5.cluster_centers_[:, 0], kmeans_5.cluster_centers_[:, 1], c='red', marker='x')

In [ ]:
# Calculate silhouette_score
from sklearn.metrics import silhouette_score
print(silhouette_score(cust_df_frame_2, kmeans.labels_))

In [ ]:
# Import the KElbowVisualizer method 
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs

# Instantiate a scikit-learn K-Means model
model = KMeans(random_state=0)

# Instantiate the KElbowVisualizer with the number of clusters and the metric 
visualizer = KElbowVisualizer(model, k=(2,6), metric='silhouette', timings=False)

# Fit the data and visualize
visualizer.fit(cust_df_frame_2)    
visualizer.poof()

In [ ]:
# Joining the clusters from kmeans to the original data used for clustering
cust_df_clus5_ALL = pd.DataFrame(pd.concat([cust_df_frame_2, cust_df], axis = 1))
cust_df_clus5_ALL.shape

In [ ]:
cust_df_clus5_ALL.info()

In [ ]:
# Using pandas crosstabs to create a cross tab of clusters by loan defaults
pd.crosstab(cust_df_clus5_ALL['cluster5_2'],cust_df_clus5_ALL['LoanDefault'],margins=True, normalize = 'columns')

In [ ]:
# Using pandas pivot tables to create a cross tab of DebtToIncomeRatio by clusters by loan defaults by Age

Cluster_Grps = cust_df_clus5_ALL.pivot_table(values=["DebtToIncomeRatio"], index=['cluster5_2','LoanDefault','Age_Recoded'], aggfunc=np.mean)
print (Cluster_Grps)

In [ ]:
#Extracting the cluster data from the original cluster solution and saving it as a DataFrame with an index
cust_df_kmeans_cluster5_2 = pd.DataFrame(cust_df_frame_2['cluster5_2'])
cust_df_kmeans_cluster5_2.head()

In [ ]:
# Checking on the size and shape of the DataFrame
cust_df_kmeans_cluster5_2.shape

In [ ]:
cust_df_kmeans.head(5)

In [ ]:
# Joining the clusters from kmeans to the original data used for clustering
cust_df_clus5_rf = pd.DataFrame(pd.concat([cust_df_kmeans_cluster5_2, cust_df_kmeans], axis = 1))

In [ ]:
cust_df_clus5_rf.head()

In [ ]:
cust_df_clus5_rf.shape

In [ ]:
# Check on the cluster distribution after extraction and concatenating
cust_df_clus5_rf['cluster5_2'].value_counts()

### END OF SEGMENTATION EXAMPLE CODE

#For those intersting in exploring a Random Forest Model
def split_data(df, train_perc = 0.8):
    df['train'] = np.random.rand(len(df)) < train_perc
    train = df[df.train == 1]
    test = df[df.train == 0]
    split_data ={'train': train, 'test': test}
    return split_data

In [ ]:
#split_data(cust_df_kmeans,0.8)

In [ ]:
probs = np.random.rand(len(cust_df_clus5_rf))
training_set = probs < 0.8
test_set = (probs>=0.8)

cust_df_kmeans_clus_5_trg = cust_df_clus5_rf[training_set]
cust_df_kmeans_clus_5_tst = cust_df_clus5_rf[test_set]

In [ ]:
# Removing the y variable - cluster5_2 from the training data set
cust_df_kmeans_clus_5_trg2 = cust_df_kmeans_clus_5_trg.drop('cluster5_2', 1)
cust_df_kmeans_clu_5_Y = pd.DataFrame(cust_df_kmeans_clus_5_trg['cluster5_2'])
cust_df_kmeans_clus_5_trg2.head()

In [ ]:
# Removing the y variable - cluster5_2 from the testing data set
cust_df_kmeans_clus_5_tst2 = cust_df_kmeans_clus_5_tst.drop('cluster5_2', 1)
cust_df_kmeans_clu_5_Y_tst = pd.DataFrame(cust_df_kmeans_clus_5_tst['cluster5_2'])
cust_df_kmeans_clus_5_tst2.head()

In [ ]:
cust_df_kmeans_clu_5_Y.head()

In [ ]:
cust_df_kmeans_clus_5_trg2.shape

In [ ]:
cust_df_kmeans_clus_5_tst.shape

In [ ]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf_5 = RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf_5.fit(cust_df_kmeans_clus_5_trg2, cust_df_kmeans_clu_5_Y)

cust_df_kmeans_clu_5_Y_pred = clf_5.predict(cust_df_kmeans_clus_5_tst2)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(cust_df_kmeans_clu_5_Y_tst, cust_df_kmeans_clu_5_Y_pred))

In [ ]:
# Create a list of feature names
feature_names = list(cust_df_kmeans_clus_5_trg2.columns)

In [ ]:
# Compute feature importances for the features used in the RF model
feature_imp = pd.Series(clf_5.feature_importances_,index = feature_names).sort_values(ascending=False)
feature_imp

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# Creating a bar plot
sns.barplot(x=feature_imp, y=feature_imp.index)
# Add labels to your graph
plt.xlabel('Feature Importance Score')
plt.ylabel('Features')
plt.title("Visualizing Important Features")
plt.legend()
plt.show()

In [ ]:
# Printing a confusion matrix for the test data
from sklearn.metrics import confusion_matrix

conf_mat = confusion_matrix(cust_df_kmeans_clu_5_Y_tst, cust_df_kmeans_clu_5_Y_pred)
print(conf_mat)