In [1]:
import pandas as pd 
import numpy as np

In [ ]:
include = [
    
]

In [13]:
df = pd.read_csv('Customer_Dataset_File.csv',low_memory=False,sep=',')

In [14]:
df.head(5)

,CustomerID,RandID,Region,TownSize,Gender,Age,EducationYears,JobCategory,UnionMember,EmploymentLength,...,CallWait,CallForward,ThreeWayCalling,EBilling,TVWatchingHours,OwnsPC,OwnsMobileDevice,OwnsGameSystem,OwnsFax,NewsSubscriber
0,3964-QJWTRG-NPN,1395460,1,2,Female,20,15,Professional,Yes,0,...,Yes,Yes,Yes,No,13,No,Yes,Yes,No,No
1,0648-AIPJSP-UVM,5892126,5,5,Male,22,17,Sales,No,0,...,No,Yes,No,Yes,18,Yes,Yes,Yes,Yes,Yes
2,5195-TLUDJE-HVO,3924533,3,4,Female,67,14,Sales,No,16,...,No,No,No,No,21,No,No,No,No,Yes
3,4459-VLPQUH-3OL,2941342,4,3,Male,23,16,Sales,No,0,...,No,No,No,Yes,26,Yes,Yes,Yes,No,Yes
4,8158-SMTQFB-CNO,3444746,2,2,Male,26,16,Sales,No,1,...,Yes,Yes,Yes,No,27,Yes,No,Yes,No,No

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           5000 non-null   object
 1   RandID               5000 non-null   int64
 2   Region               5000 non-null   int64
 3   TownSize             5000 non-null   object
 4   Gender               4967 non-null   object
 5   Age                  5000 non-null   int64
 6   EducationYears       5000 non-null   int64
 7   JobCategory          4985 non-null   object
 8   UnionMember          5000 non-null   object
 9   EmploymentLength     5000 non-null   int64
 10  Retired              5000 non-null   object
 11  HHIncome             5000 non-null   object
 12  DebtToIncomeRatio    5000 non-null   float64
 13  CreditDebt           5000 non-null   float64
 14  OtherDebt            5000 non-null   float64
 15  LoanDefault          5000 non-null   object
 16  MaritalStatus        5000 non-null   object
 17  HouseholdSize        4992 non-null   float64
 18  NumberPets           4994 non-null   float64
 19  NumberCats           4993 non-null   float64
 20  NumberDogs           4992 non-null   float64
 21  NumberBirds          4966 non-null   float64
 22  HomeOwner            4987 non-null   float64
 23  CarsOwned            5000 non-null   int64
 24  CarOwnership         5000 non-null   object
 25  CarBrand             5000 non-null   object
 26  CarValue             5000 non-null   object
 27  CommuteTime          5000 non-null   object
 28  PoliticalPartyMem    5000 non-null   object
 29  Votes                5000 non-null   object
 30  CreditCard           5000 non-null   object
 31  CardTenure           5000 non-null   int64
 32  CardItemsMonthly     5000 non-null   int64
 33  CardSpendMonth       5000 non-null   object
 34  ActiveLifestyle      5000 non-null   object
 35  PhoneCoTenure        5000 non-null   int64
 36  VoiceLastMonth       5000 non-null   object
 37  VoiceOverTenure      5000 non-null   object
 38  EquipmentRental      5000 non-null   object
 39  EquipmentLastMonth   5000 non-null   object
 40  EquipmentOverTenure  5000 non-null   object
 41  CallingCard          5000 non-null   object
 42  WirelessData         5000 non-null   object
 43  DataLastMonth        5000 non-null   object
 44  DataOverTenure       5000 non-null   object
 45  Multiline            5000 non-null   object
 46  VM                   5000 non-null   object
 47  Pager                5000 non-null   object
 48  Internet             5000 non-null   object
 49  CallerID             5000 non-null   object
 50  CallWait             5000 non-null   object
 51  CallForward          5000 non-null   object
 52  ThreeWayCalling      5000 non-null   object
 53  EBilling             5000 non-null   object
 54  TVWatchingHours      5000 non-null   int64
 55  OwnsPC               5000 non-null   object
 56  OwnsMobileDevice     5000 non-null   object
 57  OwnsGameSystem       5000 non-null   object
 58  OwnsFax              5000 non-null   object
 59  NewsSubscriber       5000 non-null   object
dtypes: float64(9), int64(10), object(41)
memory usage: 2.3+ MB

In [16]:
df.columns

Index(['CustomerID', 'RandID', 'Region', 'TownSize', 'Gender', 'Age',
       'EducationYears', 'JobCategory', 'UnionMember', 'EmploymentLength',
       'Retired', 'HHIncome', 'DebtToIncomeRatio', 'CreditDebt', 'OtherDebt',
       'LoanDefault', 'MaritalStatus', 'HouseholdSize', 'NumberPets',
       'NumberCats', 'NumberDogs', 'NumberBirds', 'HomeOwner', 'CarsOwned',
       'CarOwnership', 'CarBrand', 'CarValue', 'CommuteTime',
       'PoliticalPartyMem', 'Votes', 'CreditCard', 'CardTenure',
       'CardItemsMonthly', 'CardSpendMonth', 'ActiveLifestyle',
       'PhoneCoTenure', 'VoiceLastMonth', 'VoiceOverTenure', 'EquipmentRental',
       'EquipmentLastMonth', 'EquipmentOverTenure', 'CallingCard',
       'WirelessData', 'DataLastMonth', 'DataOverTenure', 'Multiline', 'VM',
       'Pager', 'Internet', 'CallerID', 'CallWait', 'CallForward',
       'ThreeWayCalling', 'EBilling', 'TVWatchingHours', 'OwnsPC',
       'OwnsMobileDevice', 'OwnsGameSystem', 'OwnsFax', 'NewsSubscriber'],
      dtype='object')

In [17]:
df.isnull().sum()

CustomerID              0
RandID                  0
Region                  0
TownSize                0
Gender                 33
Age                     0
EducationYears          0
JobCategory            15
UnionMember             0
EmploymentLength        0
Retired                 0
HHIncome                0
DebtToIncomeRatio       0
CreditDebt              0
OtherDebt               0
LoanDefault             0
MaritalStatus           0
HouseholdSize           8
NumberPets              6
NumberCats              7
NumberDogs              8
NumberBirds            34
HomeOwner              13
CarsOwned               0
CarOwnership            0
CarBrand                0
CarValue                0
CommuteTime             0
PoliticalPartyMem       0
Votes                   0
CreditCard              0
CardTenure              0
CardItemsMonthly        0
CardSpendMonth          0
ActiveLifestyle         0
PhoneCoTenure           0
VoiceLastMonth          0
VoiceOverTenure         0
EquipmentRental         0
EquipmentLastMonth      0
EquipmentOverTenure     0
CallingCard             0
WirelessData            0
DataLastMonth           0
DataOverTenure          0
Multiline               0
VM                      0
Pager                   0
Internet                0
CallerID                0
CallWait                0
CallForward             0
ThreeWayCalling         0
EBilling                0
TVWatchingHours         0
OwnsPC                  0
OwnsMobileDevice        0
OwnsGameSystem          0
OwnsFax                 0
NewsSubscriber          0
dtype: int64

In [18]:
#Checking customer data types
df.dtypes

CustomerID              object
RandID                   int64
Region                   int64
TownSize                object
Gender                  object
Age                      int64
EducationYears           int64
JobCategory             object
UnionMember             object
EmploymentLength         int64
Retired                 object
HHIncome                object
DebtToIncomeRatio      float64
CreditDebt             float64
OtherDebt              float64
LoanDefault             object
MaritalStatus           object
HouseholdSize          float64
NumberPets             float64
NumberCats             float64
NumberDogs             float64
NumberBirds            float64
HomeOwner              float64
CarsOwned                int64
CarOwnership            object
CarBrand                object
CarValue                object
CommuteTime             object
PoliticalPartyMem       object
Votes                   object
CreditCard              object
CardTenure               int64
CardItemsMonthly         int64
CardSpendMonth          object
ActiveLifestyle         object
PhoneCoTenure            int64
VoiceLastMonth          object
VoiceOverTenure         object
EquipmentRental         object
EquipmentLastMonth      object
EquipmentOverTenure     object
CallingCard             object
WirelessData            object
DataLastMonth           object
DataOverTenure          object
Multiline               object
VM                      object
Pager                   object
Internet                object
CallerID                object
CallWait                object
CallForward             object
ThreeWayCalling         object
EBilling                object
TVWatchingHours          int64
OwnsPC                  object
OwnsMobileDevice        object
OwnsGameSystem          object
OwnsFax                 object
NewsSubscriber          object
dtype: object

In [20]:
#Dimensions of the data and investigate if there are any duplicate rows
df.shape
print(f'There are {df.shape[0]} rows and {df.shape[1]} columns in the customer dataframe')

There are 5000 rows and 60 columns in the customer dataframe

In [21]:
df.head()

,CustomerID,RandID,Region,TownSize,Gender,Age,EducationYears,JobCategory,UnionMember,EmploymentLength,...,CallWait,CallForward,ThreeWayCalling,EBilling,TVWatchingHours,OwnsPC,OwnsMobileDevice,OwnsGameSystem,OwnsFax,NewsSubscriber
0,3964-QJWTRG-NPN,1395460,1,2,Female,20,15,Professional,Yes,0,...,Yes,Yes,Yes,No,13,No,Yes,Yes,No,No
1,0648-AIPJSP-UVM,5892126,5,5,Male,22,17,Sales,No,0,...,No,Yes,No,Yes,18,Yes,Yes,Yes,Yes,Yes
2,5195-TLUDJE-HVO,3924533,3,4,Female,67,14,Sales,No,16,...,No,No,No,No,21,No,No,No,No,Yes
3,4459-VLPQUH-3OL,2941342,4,3,Male,23,16,Sales,No,0,...,No,No,No,Yes,26,Yes,Yes,Yes,No,Yes
4,8158-SMTQFB-CNO,3444746,2,2,Male,26,16,Sales,No,1,...,Yes,Yes,Yes,No,27,Yes,No,Yes,No,No